.container{
    font-size: 1.2rem;
    width:500px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}
.container>h1{
    text-align: center;
}
form-field{
	width: 72px;
    margin: auto;
}
